<p style="color: green"><%= notice %></p>
<%= image_tag(url_for(@plant.main_image), class:"img-fluid") if @plant.main_image.present? %>
<h4><%= @plant.name %></h4>
<li>Color:<%= @plant.color %></li>
<li>Quantity:<%= @plant.quantity %></li>

<p></p>
<div>Quantity:<%= @plant.quantity %></p>

</div>

<div>
  <%= link_to "Edit this plant", edit_plant_path(@plant) %> |
  <%= link_to "Back to plants", plants_path %>

  <%= button_to "Destroy this plant", @plant, method: :delete %>
</div>
